@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut-warp {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donut {
  display: inline-block;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #07c160;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: donut-spin 1.2s linear infinite;
}
